<div class="hero">
	
</div>

<table>
	<tr>
		<td id="home-body">
			<div class="post">
				<h1>This is an H1 Headline!</h1>
				<h2>An h2 subtitle here.</h2>
				<h3>and of course ... h3</h3>
				<p>With a paragraph to boot.</p>
				<p>One of the more pernicious mistruths surrounding the debate about TikTok is that this will potentially lead to the splintering of the Internet; this completely erases the history of China’s Great Firewall, started 23 years ago, which effectively cut China off from most Western services. That the U.S. may finally respond in kind is a reflection of reality, not the creation of a new one.</p>
				<p>What is new is the increased splintering in the non-China Internet: the U.S. model is still the default for most of the world, but the European Union and India are increasingly pursuing their own paths.</p>
			</div>
			<div class="post">
				<h1>This is an H1 Headline!</h1>
				<h2>An h2 subtitle here.</h2>
				<h3>and of course ... h3</h3>
				<p>With a paragraph to boot.</p>
				<p>One of the more pernicious mistruths surrounding the debate about TikTok is that this will potentially lead to the splintering of the Internet; this completely erases the history of China’s Great Firewall, started 23 years ago, which effectively cut China off from most Western services. That the U.S. may finally respond in kind is a reflection of reality, not the creation of a new one.</p>
				<p>What is new is the increased splintering in the non-China Internet: the U.S. model is still the default for most of the world, but the European Union and India are increasingly pursuing their own paths.</p>
			</div>
			<div class="post">
				<h1>This is an H1 Headline!</h1>
				<h2>An h2 subtitle here.</h2>
				<h3>and of course ... h3</h3>
				<p>With a paragraph to boot.</p>
				<p>One of the more pernicious mistruths surrounding the debate about TikTok is that this will potentially lead to the splintering of the Internet; this completely erases the history of China’s Great Firewall, started 23 years ago, which effectively cut China off from most Western services. That the U.S. may finally respond in kind is a reflection of reality, not the creation of a new one.</p>
				<p>What is new is the increased splintering in the non-China Internet: the U.S. model is still the default for most of the world, but the European Union and India are increasingly pursuing their own paths.</p>
			</div>
		</td>
		<td id="home-sidebar">
						
		</td>
	</tr>
</table>


